package layouts

templ AdminSidebar() {
	<nav class="h-full bg-blue-900 text-gray-100 min-w-48 py-12">
		<div class="flex flex-col" hx-boost="true">
			<a href="/admin/dashboard" class="w-full cursor-pointer hover:bg-blue-600 px-6 py-3">Dashboard</a>
			<a href="/admin/users" class="w-full cursor-pointer hover:bg-blue-600 px-6 py-3">Users</a>
			<a href="/admin/settings" class="w-full cursor-pointer hover:bg-blue-600 px-6 py-3">Panel Settings</a>
		</div>
	</nav>
}
