{{define "create-user"}}
    <div>
        <form hx-post="/user" hx-ext="response-targets">
            <div class="flex flex-row gap-4">
                <input type="text" name="username" placeholder="Username" class="bg-gray-100 p-2 my-3 border-2 rounded">
                <input type="password" name="password" placeholder="Password"
                       class="bg-gray-100 p-2 my-3 border-2 rounded">
                <input type="text" name="role" placeholder="Role" class="bg-gray-100 p-2 my-3 border-2 rounded">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">
                    New
                    User
                </button>
                <span class="text-red-500 inline-block my-3 py-2 px-4" id="create-user-error">{{.}}</span>
            </div>
        </form>
    </div>
{{end}}