{{block "users" .}}
    <div>
        <form hx-post="/user" hx-ext="response-targets" >
            <div class="flex flex-row gap-4">
                <input type="text" name="username" placeholder="Username" class="bg-gray-100 p-2 my-3 border-2 rounded">
                <input type="password" name="password" placeholder="Password" class="bg-gray-100 p-2 my-3 border-2 rounded">
                <input type="text" name="role" placeholder="Role" class="bg-gray-100 p-2 my-3 border-2 rounded">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">
                    New
                    User
                </button>
{{/*                <span class="text-red-500 inline-block my-3 py-2 px-4" id="create-user-error">{{.Error}}</span>*/}}
            </div>
        </form>
    </div>
    <h1 class="text-2xl font-semibold text-gray-900 mb-4">Users:</h1>
    <div class="overflow-x-auto">
        <table class="w-full whitespace-nowrap bg-white divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Id
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Username
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Role
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Created At
                </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            {{range .}}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{.ID}}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{.Username}}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{.Role}}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{.CreatedAt.Format "2006-01-02 15:04"}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
{{end}}
