package components

templ Alert(errorMsg, successMsg string) {
	<span class="text-red-500 inline-block rounded">{ errorMsg }</span>
	<span class="text-green-500 inline-block rounded">{ successMsg }</span>
}
