package components

templ Error(msg string) {
	<span class="text-red-500 inline-block rounded" id="change-password-error">{ msg }</span>
}

templ Success(msg string) {
	<span class="text-green-500 inline-block rounded" id="change-password-success">{ msg }</span>
}
