{{ block "admin" . }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
        <link rel="stylesheet" href="/static/output.css">
        <title>Admin Dashboard</title>
    </head>
    <body>
    <div class="flex h-screen">
        {{template "sidebar" .}}

        <div id="content" class="flex-1 bg-gray-100 p-12" />
    </div>
    </body>
    </html>
{{ end }}




{{ define "sidebar" }}
    <nav class="h-full bg-blue-900 text-gray-100 min-w-48 py-12">
        <ul class="flex flex-col">
            <li hx-trigger="click" hx-get="/users" hx-target="#content" class="w-full cursor-pointer hover:bg-blue-600 px-6 py-3">Users</li>
            <li hx-trigger="click" hx-get="/settings" hx-target="#content" class="w-full cursor-pointer hover:bg-blue-600 px-6 py-3">Panel Settings</li>
        </ul>
    </nav>
{{ end }}


{{/*{{define "content" }}*/}}
{{/*    <form method="post">*/}}
{{/*        <input type="text" name="username" placeholder="Username" required><br>*/}}
{{/*        <input type="password" name="password" placeholder="New Password" required><br>*/}}
{{/*        <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>*/}}
{{/*        <button type="submit">Create User</button>*/}}
{{/*    </form>*/}}
{{/*{{end}}*/}}




