{{ block "admin" . }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <link rel="stylesheet" href="/static/output.css">
        <title>Admin Dashboard</title>
    </head>
    <body>
    <div class="flex flex-col">
        {{template "navbar" .}}

        {{template "content" .}}
    </div>
    </body>
    </html>
{{ end }}




{{ define "navbar" }}
    <nav class="w-full bg-red-600 text-white py-2">
        <ul class="flex flex-row items-center gap-x-6 max-w-2xl mx-auto">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
{{ end }}


{{define "content" }}
    <form method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="New Password" required><br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>
        <button type="submit">Create User</button>
    </form>
{{end}}


