package pages

import (
	"github.com/shahin-bayat/go-ssh-client/views/components"
)

templ Admin() {
	<div>
		<h1 class="text-2xl font-semibold text-gray-900 mb-4">Dashboard</h1>
		<p>Welcome to the admin dashboard</p>
		<p>Please don't forget to change your password.</p>
	</div>
	<div class="h-full">
		@components.ChangePasswordForm()
	</div>
}
